<style>
  .stamped-top-rated-title {
    display: none !important;
  }
</style>

<div style="max-width: 1100px; margin: 0 auto; padding: 2em 0;">
<h2 class="f--heading font-size__heading">Reviews de Productos</h2>
<div id="stamped-reviews-widget" data-widget-type="top-rated" data-style-color-star="#f6a624" data-style-color-link="#162317"></div>
</div>


{% schema %}
{
  "name": "Stamped Reviews",
  "settings": [],
  "presets": [
    {
      "name": "Stamped Reviews", 
      "category": "Reviews"
    }
  ]
}
{% endschema %}